#upl_slideshow {  }
#upl_slideshow a { color: white; }
#upl_slideshow .thumb_link img { cursor: pointer; border: 1px solid #808080; width: 30px; height: 30px; }
#upl_slideshow .thumb_link { margin: 2px 5px 5px 2px; display: block; float: left; width: 30px; }

#play_button, #pause_button, #prev_button, #next_button { cursor: pointer }

#image_container { padding:10px; background-color: #111; height: 500px; }
#image_container_left { float:left; width:55%; }
#image_container_left img { border:2px solid white; }
#image_container_right { float:left; width: 40%; color:white; margin-left:10px; overflow: hidden; }

#nav_container { background-color: #333; padding: 8px 8px 6px 8px; }

#thumb_container { background-color:#333; padding: 6px 5px 5px 5px; }

#image_preview {border: 1px solid white; float:left;}
#image_preview img {display:block; float:left}