body {margin:0 0 50px 0; padding:0; font-family:tahoma, verdana, arial; font-size:0.7em; color:black; cursor:default; background-color:#fff; padding:0px;}
h1 {padding-bottom:3px; margin:0px; font-family:arial; font-size:1.1em; line-height:1.2em; letter-spacing:0; text-align:left; word-spacing:normal; text-decoration:none; color:#252525;}
p {margin:0px; padding:5px 0 0 0; cursor:default; line-height:1.5em;}
h2 {font-size:1.2em; font-weight:bold; margin:0px; color:#EE3624;}
h3 {font-size:1.2em; font-weight:bold; color:#0066DF; margin:0px;}
ul {margin:0; padding:0; list-style:none;}
ol {margin:0 0 0 20px; padding:0px;}
img {border:0px; margin:0px;}
form {margin:0px; padding:0px;}
label {cursor:pointer;}
legend {color:#444; font-size:1.2em; font-weight:bold;}
fieldset {border: 1px solid #E0E0E0; padding: 4px; margin:0px; margin-top: 8px;}
input, select, textarea {font-family: tahoma, verdana, arial; font-size: 1.0em;}
pre {margin:0px;padding:0px;font-size:0.9em;font-family:tahoma,verdana,arial;}




/* Link styles */
a:link    { color: #0066CC; }
a:visited { color: #003366; }
a:hover   { text-decoration: none; }
a:active  { color: #9DCC00; }

a.special, a.special:visited { color: #0066DF; }
a.special2, a.special2:visited { color: #0055FF; text-decoration: none; }
a.special:hover { text-decoration: none; }
a.special_green, a.special_green:visited { color: #5aa200; }
a.special_green:hover { text-decoration: none; }

#info { margin: 20px 20px 10px 20px; border-bottom: 2px solid #eee; color: #555; }
#image_container { margin-left: 20px; }
