
body { margin: 0; padding:0; font-family:tahoma, verdana, arial; font-size:0.7em; color:black; cursor:default; background-color:#aaa; }
h1 {padding-bottom:3px; margin:0px; font-family:arial; font-size:1.1em; line-height:1.2em; letter-spacing:0; text-align:left; word-spacing:normal; text-decoration:none; color:#252525;}
p {margin:0px; padding:5px 0 0 0; cursor:default; line-height:1.5em;}
h2 {font-size:1.2em; font-weight:bold; margin:0px; color:#EE3624;}
h3 {font-size:1.2em; font-weight:bold; color:#0066DF; margin:0px;}
ul {margin:0; padding:0; list-style:none;}
ol {margin:0 0 0 20px; padding:0px;}
img {border:0px; margin:0px;}
form {margin:0px; padding:0px;}
label {cursor:pointer;}
legend {color:#444; font-size:1.2em; font-weight:bold;}
fieldset {border: 1px solid #E0E0E0; padding: 4px; margin:0px; margin-top: 8px;}
input, select, textarea {font-family: tahoma, verdana, arial; font-size: 1.0em;}
pre {margin:0px;padding:0px;font-size:0.9em;font-family:tahoma,verdana,arial;}



/* classes */
.noposition {border:0;padding:0;margin:0}

.color1 { background-color: #FCFCFC; }
.color2 { background-color: #F9F9F9; }
.color3 { background-color: #D0D0D0; }
.color4 { background-color: #FBFFDF; }

.colblue { color: #0066DF }
.colgreen { color: #5aa200 }
.colfuscia { color: #E600AC }

.textsmall { font-size: 0.8em; }
.textmedium { font-size: 1.1em; }
.textmedium2 { font-size: 1.2em; }
.textlarge { font-size: 1.4em; }

.ct { text-align: center; }
.cr { text-align: right; }
.cl { text-align: left; }
.tt { vertical-align: top; padding-top: 4px; }

.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.hidden { position:absolute;left:0px;visibility:hidden; }
strong.s1 { color:#444444 }
strong.s2 { color:#6BB300; }
strong.s3 { color:#B32400; }
input.blue_button {background:url('images/bluebg.gif');background-repeat:repeat-x;font-family:verdana,tahoma,arial;font-size:0.9em;color:white;font-weight:bold;padding: 1px 3px 1px 3px;margin-bottom:1px;cursor:pointer;border-top:1px solid #99CCFF;border-left:1px solid #99CCFF; border-bottom:1px solid #115599; border-right:1px solid #115599;}
input.green_button {background:url('images/greenbg.gif');background-repeat:repeat-x;font-family:verdana,tahoma,arial;font-size:0.9em;color:#666666;font-weight:bold;padding: 1px 3px 1px 3px;margin-bottom:1px;cursor:pointer;border-top:1px solid #E9E9C1;border-left:1px solid #E9E9C1; border-bottom:1px solid #98A574; border-right:1px solid #98A574;}
input.chkbox{margin-left:0px;margin-bottom:0px;}
input.radio {margin-bottom:-2px; margin-left:-1px;}
input.input_file {  }
input.yellow { border: 0px; background-color: #FFFFE6; color:#606060; padding: 3px; margin: 0px; }
ul.ls_menu li, ol.ls_menu li { margin: 0px 0px 4px 0px; }
ul.ls_menu2 li, ol.ls_menu2 li { margin: 2px 0px 6px 0px; }
ul.ls_menu3 li, ol.ls_menu3 li { padding: 5px 0px 6px 9px; }
img.img1 { margin-bottom: -2px; }
span.green { color: #708059 }
span.hilite { background-color: #E0E0E0; }
span.underline { border-bottom: 1px solid #444444; }
span.small { color: #808080; }
span.smalltext { font-size: 0.9em; }
span.help { color: #55A055; cursor: help; border-bottom: 1px dotted; }
span.link { color: #0066DF; cursor: pointer; }
span.link_clicked { color: #0055FF; cursor: pointer; font-weight: bold; }
span.link2 { color: #505050; cursor: pointer; font-size:0.9em; }
span.link3 { color: #404040; cursor: pointer; font-size:0.9em; }
span.link4 { color: #0066DF; cursor: pointer; }
span.head1 { color: #404040; font-size:1.1em; font-weight: bold; }
span.sort { cursor:pointer; color: #444444; text-decoration:underline; }
.qinput { border: 1px solid #CCCCCC; padding:1px; line-height: 1.0em; }
.qinput input, .qinput textarea, input.qinput, textarea.qinput { border:0px; margin: 0px; padding: 0; }
table.rowlines td { border-bottom: 1px solid #f0f0f0; padding-bottom:5px; }
table.rowlines tr.header { background-color: #f0f0f0; font-weight: bold; color: #606060; }
table.rowlines tr.header td { border-bottom: 1px solid #E0E0E0; line-height: 0.9em; padding-top: 9px; }
table.galleryTable { width: 100%; }
table.galleryTable td { text-align:center; line-height:1.8em; color:#808080; font-size: 0.9em; }
table.galleryTable td span.image, table.galleryTable td.unselected span.image { display: block; padding: 2px; border: 1px solid #dddddd; background-color: white; margin: 0px auto 0px auto; }
table.galleryTable td.selected span.image { border: 1px solid #0153F5; background-color: #B7D7FF; }
table.galleryTable td span.image img { border: 1px solid white; display: block; margin-left: auto; margin-right: auto; }
table.galleryTable span.info { clear:both; display: block }
div.outer{border: 1px #888888 solid;background-color: white;}
div.inner{padding: 8px;margin: 1px;border-right: 1px solid #E0E0E0;border-bottom: 1px solid #E0E0E0;}
p.note1{font-size:0.9em;line-height: 1.3em;border:1px solid #FFBFBF;background-image:url('images/bg4.gif');padding:3px 3px 3px 5px;margin:5px 0px 5px 0px;}
p.note2 {padding: 8px; line-height: 1.4em; background-color: #fbffe5; color: #050500; font-family: "Trebuchet MS", tahoma, arial, verdana; font-size: 1.0em;  }
p.p1{padding:5px 0 5px 0;color:#444;}
p.p2{margin:0px;padding:0px;}
div.box1{padding: 5px;background-color: #FAFAFA;}
div.box2 { margin-top: 3px; }
div.spacer { clear: both; font-size: 1px; }

div.announcement { padding: 3px 8px 8px 8px; margin: 0 0 25px -5px; }
.even { background-color: #fff }
.odd { background-color: #fff }
div.announcement .subject { font-family: arial; font-size:1.1em; color:#151515; font-weight: bold; }
div.announcement .date { font-family: verdana, arial; letter-spacing:-1px; color: #777; }
div.announcement .comments { color: #555; }
div.announcement .comments a { font-family: arial; text-decoration: none; color: #3D6AF2; }
div.announcement .content { color: #111; line-height: 1.5em; }

div.announce_1 { padding:8px; margin-bottom: 5px; margin-left: -5px; margin-right: -5px; background-color:#F5FFE6; -moz-border-radius:5px; }
div.announce_2 { padding:8px; margin-bottom: 5px; margin-left: -5px; margin-right: -5px;background-color: #fafafa; -moz-border-radius:5px; }
div.announce_1 h1, div.announce_2 h1 { font-size: 1.2em;  font-family: tahoma, arial; }
div.announce_1 span, div.announce_2 span { color: #808080; font-size: 0.9em; }

h1.head1 { color:#454545; font-family: "Trebuchet MS", arial, tahoma; font-size: 1.2em; margin: 0px; padding: 0px; }

/* Link styles */
a:link    { color: #0066CC; }
a:visited { color: #003366; }
a:hover   { text-decoration: none; }
a:active  { color: #9DCC00; }

a.special, a.special:visited { color: #0066DF; }
a.special2, a.special2:visited { color: #0055FF; text-decoration: none; }
a.special:hover { text-decoration: none; }
a.special_green, a.special_green:visited { color: #5aa200; }
a.special_green:hover { text-decoration: none; }
a.folder_link { text-decoration: none; }
a.link2 { color: #888888; cursor: pointer; font-size:0.9em; text-decoration: none; }
a.no_underline { text-decoration: none; }
a.no_underline2 { text-decoration: none; }
a.no_underline2:hover { text-decoration: underline; }
a.grey, a.grey:visited{color:#808080}
a.green, a.green:visited{color:#5aa200}
a.darkgrey, a.darkgrey:visited{color:#606060}

.rounded { padding: 10px 7px 10px 10px; -moz-border-radius:6px; }
.red { background-color:#FFE6E6;border-bottom: 1px solid #FFBFBF; }
.green { background-color:#F5FFE6;border-bottom: 1px solid #DCE6CF; }
.yellow { background-color:#FAFFE6;border-bottom: 1px solid #DCE6CF; }
.gray { background-color:#fafafa;border-bottom: 1px solid #e5e5e5; }

.hidden { position:absolute;left:0px;visibility:hidden; }

div.set_info { padding: 5px; float: left; color: #808080; line-height: 1.0em; }
div.set_info div.description { margin-top: 2px; clear: both; line-height: 1.2em; text-align:center; font-size: 0.9em; font-family: "Trebuchet MS", tahoma, arial; }
div.set_info .name { color: #FF33CC; }
div.set_info .title { color: #386AFF; }
div.thumb { border: 1px solid #dddddd; padding: 1px; background-color: white; text-align: center; margin: 0 auto 3px auto; }
div.thumb img { border: 1px solid white; display: block; margin: 0 auto 0 auto; }

.mf_options { border: 1px solid #a0a0a0; padding: 5px; background-color: white; }

.bubble { background-color:#FBFFDF;padding:8px;color:#404040;margin:5px;-moz-border-radius:5px;line-height:1.5em; width:300px; border: 1px solid #a0a0a0; }

#container {width:750px; margin:30px auto 0 auto; background-color:#fff; border:3px solid #999; line-height:1.2;}
#container2 {width:732px; padding:8px; border:1px solid #777; ; line-height:1.2;}
#menu {background:url('images/mbarbg6.gif'); margin-left:5px; margin-right:5px; padding:2px 2px 0 2px; height:25px;}
#menu a {color:white; margin-right:5px;}
#credit {text-align:center; padding:5px; margin:0 auto 0 auto; color:#333; font-size:0.9em}
#credit a {color:#333}

#menu_links { padding: 6px; float:left;}
#top {margin: 10px 5px 5px 5px;font-size: 0.9em; font-weight:bold;font-size:1.4em;color:#505050;font-family:'Trebuchet MS', arial, tahoma;}
#top a { color: #757575; text-decoration: none; }
#top a:hover { color: #202020; }
#content{padding: 7px 10px 5px 10px; margin-top: 8px;}

#message{display:none;background-color:#FBFFDF;padding:8px;color:#404040;margin:5px;-moz-border-radius:5px;line-height:1.5em;}

table#files_table { width: 100%; }
table#files_table td { vertical-align: top; padding-top:5px; }


.gallery { margin-top:10px; }
.gallery .row { margin-bottom:10px; }
.gallery .cell { float:left; text-align:center; }
.gallery .inner_cell { margin: 0 auto 0 auto; width: 102px; }
.gallery .top { text-align:left; color:#555; background:url('images/thumb_bg.gif'); background-position:top center; background-repeat:no-repeat; padding: 3px 0 1px 15px; }
.gallery .center { background:url('images/thumb_bg3.gif'); background-position:top center; background-repeat:repeat-y; padding: 3px 0 3px 0;}
.gallery .bottom { background:url('images/thumb_bg2.gif'); background-position:bottom center; background-repeat:no-repeat; padding: 2px 0 9px 0; margin-top:-5px; }
.gallery .thumb { border: 1px solid #eee; padding:2px; max-width:72px; }
.gallery .thumb img { border: 1px solid #fff; }
.gallery .name { color:#777;background-color:white;font-size:0.9em; }
.gallery .extra_options { font-size:0.9em;margin-top:3px; padding:2px 8px 0 8px;border-top:1px solid #f0f0f0;text-align:right }


#overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; background-color:#000; opacity: 0.75; }
* html #overlay { background-color: #000; height: 100%; min-height:100%; filter: alpha(opacity=75); }
#alert_box { width: 400px; top: 20%; position: absolute; z-index: 100; color: black; left: 50%; margin-left: -200px;  }
#alert_box .top { background-color: white; background:url('images/alert_box_top.gif') bottom center no-repeat; height: 10px; }
#alert_box .center { background-color: white; padding: 0 10px 0 10px; }
#alert_box .left { float: left; width: 80%; }
#alert_box .right { float: right; width: 20%; text-align: right; color: red; }
#alert_box .bottom { background-color: white; background:url('images/alert_box_bottom.gif') bottom center no-repeat; height: 10px; }
