/* For use with upload.js */
#selectedFiles ul { display: none; margin: 6px 3px 5px 3px; padding: 0px;}
#selectedFiles li { padding: 5px 5px 6px 5px; clear: both; -moz-border-radius: 5px; }
#selectedFiles li span.left { width: 85%; display: block; float: left; padding: 1px; }
#selectedFiles li span.right { width: 10%; display: block; float: right; padding: 2px; color: #0066DF; cursor: pointer; text-align: right; }
#selectedFiles li.odd { background-color: #fafafa; }
#selectedFiles li.even { background-color: #fff; }
#uploadFields { margin-right: 5px; }